{% extends 'base.html' %}
{% set active_page='login' %}
{% from '_macros.html' import render_field %}

{% block styles %}
    {{ super() }}
    <style>
        .form-control {
            height: 44px;
        }

    </style>
{% endblock %}


{% block body %}
    <body class="navy-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <a href="{{ url_for('main.index') }}">
                    <h1 class="logo-name">UniveCalendar</h1>
                </a>
            </div>
            <div class="ibox no-shadow">
                <div class="ibox-title">
                    <h2>{{ gettext('Login with your account') }}</h2></div>
                <div class="ibox-content">

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <form class="m-t" role="form" method='post'
                          action="{{ url_for('auth.login') }}">

                        {{ form.csrf_token }}

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon text-gray"><i
                                    class="glyphicon glyphicon-user"></i></span>
                            {{ form.email(type="email", class='form-control', placeholder='Email', required=True) }}
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon text-gray"><i
                                    class="glyphicon glyphicon-lock"></i></span>
                            {{ form.password(type="password", class='form-control', placeholder='Password', required=True) }}
                        </div>

                        <div class="form-group text-left">
                            {{ form.remember_me }} {{ form.remember_me.label }}
                        </div>

                        <button type="submit"
                                class="btn btn-primary block full-width m-b">{{ form.submit.label.text }}</button>

                        <a href="{{ url_for('auth.password_reset_request') }}">
                            <small>{{ gettext('Forgot password?') }}</small>
                        </a>

                        <p class="text-muted text-center">
                            <small>{{ gettext("I don't have an account") }}</small>
                        </p>

                        <a class="btn btn-sm btn-white btn-block"
                           href="{{ url_for('auth.register') }}">{{ gettext('Create account') }}</a>

                    </form>
                </div>
            </div>
        </div>

        <p style=" text-decoration: underline; color: #fff">Powered by
            Flask</p>

    </div>
    </body>
{% endblock %}
