Flask==0.10.1
Flask-SQLAlchemy==2.1
Flask-Login==0.3.2
Flask-Moment==0.5.1
Flask-Babel==0.9
Flask-Menu==0.4.0
Flask-Breadcrumbs==0.3.0
Flask-WTF==0.12
Flask-Script==2.0.5
Flask-Mail==0.9.1
Flask-Migrate==1.4.0
Jinja2==2.8
gunicorn==19.3.0
Werkzeug==0.10.4
SQLAlchemy==1.0.9
alembic==0.8.3
Mako==1.0.3
WTForms==2.0.2
itsdangerous==0.24
ics==0.3.1
Psycopg2==2.6.1
pyTelegramBotApi==1.4.0
feedparser==5.2.1