{% extends 'base.html' %}
{% set active_page='forgot' %}

{% block body %}
    <body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">Password dimenticata</h2>

                    <p>
                        Inserisci il tuo indirizzo email per resettare la password. Ti invieremo una mail con la tua nuova password.
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="http://webapplayers.com/inspinia_admin-v2.0/index.html">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Indirizzo email" required="">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">Invia nuova password</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Università Ca' Foscari di Venezia
            </div>
            <div class="col-md-6 text-right">
                <small>© 2015-2016</small>
            </div>
        </div>
    </div>
    {% block scripts %}
        {{ super() }}
        <script src="{{ url_for('static', filename='js/plugins/iCheck/icheck.min.js') }}"></script>
    {% endblock %}
    </body>
{% endblock %}
