{% extends 'base.html' %}
{% set active_page='courses' %}

{% block styles %}

    <!-- Steps -->
    <link href="{{ url_for('static',filename='css/plugins/steps/jquery.steps.css') }}" rel="stylesheet">

    <!-- Bootstrap Select -->
    <link href="{{ url_for('static', filename='css/plugins/bootstrap-select/bootstrap-select.min.css') }}" rel="stylesheet">

    <!-- Bootstrap Table -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/bootstrap-table/bootstrap-table.min.css') }}">

    <!-- Toastr style -->
    <link href="{{ url_for('static', filename='css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">

    <style>

        td a {
            color: inherit;
            font-weight: 600;
        }

    </style>

    {{ super() }}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">

                    <h5>I miei Corsi</h5>
                </div>
                <div class="ibox-content">


                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form action="{{ url_for('main.unfollow') }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                        <div id="toolbar">
                            <button id="remove" type="submit" class="btn btn-danger" disabled>
                                <i class="glyphicon glyphicon-remove"></i> Elimina Corsi
                            </button>
                        </div>
                        <table id="followedCoursesTable"
                               data-click-to-select="true"
                               data-toolbar="#toolbar"
                               data-search="true"
                               data-mobile-responsive="true"
                               data-select-item-name="course_id"
                               data-id-field="id"
                               data-minimum-count-columns="2"
                               data-show-pagination-switch="true"
                               data-show-footer="true"
                               data-pagination="true"
                               data-page-list="[10, 25, 50, 100, ALL]">
                            <thead>
                            <tr>
                                <th data-checkbox="true">Segui</th>
                                <th data-field="id" data-visible="false">Id</th>
                                <th data-field="code" data-align="left" data-sortable="true" data-footer-formatter="totalTextFormatter">Codice</th>
                                <th data-field="year" data-align="left" data-sortable="true" data-searchable="false">Anno</th>
                                <th data-field="name" data-align="left" data-sortable="true" data-formatter="urlFormatter">Insegnamento</th>
                                <th data-field="url" data-visible="false">Url</th>
                                <th data-field="partition" data-align="left" data-searchable="false">Partizione</th>
                                <th data-field="field" data-align="left" data-sortable="true">Settore</th>
                                <th data-field="period" data-align="left" data-sortable="true">Periodo</th>
                                <th data-field="professor" data-align="left" data-sortable="true">Professore</th>
                                <th data-field="credit" data-align="left" data-searchable="false" data-footer-formatter="totalCreditFormatter">CFU</th>
                            </tr>
                            </thead>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Aggiungi Corsi</h5>
                </div>
                <div class="ibox-content">

                    <p>
                        Segui la procedura guidata per aggiungere i corsi che intendi seguire.
                    </p>

                    <form id="form" action="{{ url_for('main.follow') }}" method="post" class="wizard-big">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                        <h1>Tipologia</h1>
                        <fieldset>
                            <h2>Scegli una tipologia di laurea</h2>
                            <hr>
                            <div class="row">
                                <div class="col-lg-8">
                                    <select id="categories" class="selectpicker"
                                            data-dropup-auto="false">
                                        <option>Triennale</option>
                                        <option>Magistrale</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text-center">
                                        <div style="margin-top: 20px">
                                            <i class="fa fa-arrow-circle-right " style="font-size: 180px;color: #e5e5e5 "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <h1>Laurea</h1>
                        <fieldset>
                            <h2>Trova il tuo corso di laurea</h2>
                            <hr>
                            <div class="row">
                                <div class="col-lg-8">
                                    <select class="selectpicker"
                                            data-none-results-text="Nessun risultato trovato!"
                                            data-live-search="true"
                                            data-width="auto"
                                            data-size="3"
                                            data-mobile="true"
                                            data-dropup-auto="false"
                                            id="degrees">
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text-center">
                                        <div style="margin-top: 20px">
                                            <i class="fa fa-arrow-circle-right " style="font-size: 180px;color: #e5e5e5 "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>

                        <h1>Corsi</h1>
                        <fieldset>
                            <h2>Seleziona i corsi che intendi seguire</h2>
                            <hr>
                            <div class="row">
                                <div class="col-lg-12">
                                    <table id="coursesTable"
                                           data-click-to-select="true"
                                           data-search="true"
                                           data-mobile-responsive="true"
                                           data-select-item-name="course_id"
                                           data-id-field="id"
                                           data-minimum-count-columns="2"
                                           data-show-pagination-switch="true"
                                           data-show-footer="true"
                                           data-pagination="true"
                                           data-page-list="[10, 25, 50, 100, ALL]">
                                        <thead>
                                        <tr>
                                            <th data-checkbox="true">Segui</th>
                                            <th data-field="id" data-visible="false">Id</th>
                                            <th data-field="code" data-align="left" data-sortable="true" data-footer-formatter="totalTextFormatter">Codice</th>
                                            <th data-field="year" data-align="left" data-sortable="true" data-searchable="false">Anno</th>
                                            <th data-field="name" data-align="left" data-sortable="true" data-formatter="urlFormatter">Insegnamento</th>
                                            <th data-field="url" data-visible="false">Url</th>
                                            <th data-field="partition" data-align="left" data-searchable="false">Partizione</th>
                                            <th data-field="field" data-align="left" data-sortable="true">Settore</th>
                                            <th data-field="period" data-align="left" data-sortable="true">Periodo</th>
                                            <th data-field="professor" data-align="left" data-sortable="true">Professore</th>
                                            <th data-field="credit" data-align="left" data-searchable="false" data-footer-formatter="totalCreditFormatter">CFU</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    {{ super() }}

    <!-- Steps -->
    <script src="{{ url_for('static', filename='js/plugins/steps/jquery.steps.min.js') }}"></script>

    <!-- Jquery Validate -->
    <script src="{{ url_for('static', filename='js/plugins/validate/jquery.validate.min.js') }}"></script>

    <!-- Bootstrap Select -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>

    <!-- Bootstrap Table -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-table/bootstrap-table.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-table/bootstrap-table-it-IT.min.js') }}"></script>

    <!-- Tinycon -->
    <script src="{{ url_for('static', filename='js/plugins/tinycon/tinycon.min.js') }}"></script>

    <script>

        /* Initialize tables
         -----------------------------------------------------------------*/
        var table1 = '#followedCoursesTable',
                table2 = '#coursesTable';

        $(function () {
            $(table1).bootstrapTable({
                height: 500,
                url: $SCRIPT_ROOT + '/api/users/{{ current_user.id }}/courses/',
                responseHandler: function (res) {
                    return res.courses;
                }
            });
            $(table2).bootstrapTable({
                height: 500
            })
        });


        $(table1).on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {
            $('#remove').prop('disabled', !$(table1).bootstrapTable('getSelections').length);
        });

        /* Initialize wizard
         -----------------------------------------------------------------*/
        $("#form").steps({
            labels: {
                current: "Fase corrente:",
                pagination: "Pagine",
                finish: "Fine",
                next: "Avanti",
                previous: "Indietro",
                loading: "Caricamento..."
            },
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {

                // Always allow going backward
                if (currentIndex > newIndex) {
                    return true;
                }

                // Populate degrees options
                if (newIndex === 1) {
                    var degreesCat = $("#categories").find("option:selected").text();
                    $.ajax({
                        url: $SCRIPT_ROOT + '/api/degrees/?cat=' + degreesCat,
                        type: "GET",
                        dataType: "html",
                        success: function (jsonString) {
                            degrees = JSON.parse(jsonString).degrees;
                            htmlString = '';
                            for (var i = 0; i < degrees.length; i++) {
                                var d = degrees[i];
                                htmlString += '<option value="' + d.id + '">' + toTitleCase(d.name) + ' [' + d.id.toUpperCase() + ']</option>'
                            }
                            $('#degrees').html(htmlString).selectpicker('refresh');
                        }
                    })
                }

                // Populate table of courses
                if (newIndex === 2) {
                    var degreesId = $("#degrees").find("option:selected").val();
                    $.ajax({
                        url: $SCRIPT_ROOT + '/api/degrees/' + degreesId + '/courses/',
                        dataType: "json",
                        success: function (data) {
                            $(table2).bootstrapTable('hideLoading');
                            $(table2).bootstrapTable('load', data.courses);
                        }
                    });
                }

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                return true;
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        });

        // Initialize bootstrap select
        $('.selectpicker').selectpicker();

        function urlFormatter(value, row) {
            return '<a href="' + row['url'] + '" target="_blank">' + value + '</a>';
        }

        function totalCreditFormatter(data) {
            var total = 0;
            $.each(data, function (i, row) {
                total += +(row.credit);
            });
            return total;
        }

        function totalTextFormatter(data) {
            return 'Totale';
        }

    </script>


{% endblock %}



