{% macro render_field(field) %}
    {% if field.errors %}
        <div class="form-group has-error ">
            {{ field(class="form-control", placeholder=field.label.text, **kwargs) }}
            {% for error in field.errors %}
                <div class="control-label has-error">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="form-group">
            {{ field(class="form-control", placeholder=field.label.text, **kwargs) }}
        </div>
    {% endif %}
{% endmacro %}


{% macro feeds_navbar_widget(feeds, moment, n=3) %}
    {% if not feeds %}
        <li class="text-center">{{ gettext('No feed found') }}</li>
    {% else %}
        {% for feed in feeds[:n] %}
            <li>
                <div class="dropdown-messages-box">
                    <a href="{{ feed.author.url }}" class="pull-left">
                        <img alt="image" class="img-circle"
                             src="{{ feed.author.gravatar() }}">
                    </a>

                    <div class="media-body">
                        <small class="pull-right">{{ moment(feed.timestamp).fromNow() }}</small>
                        <strong>{{ feed.author }}</strong><br>{{ feed.title }}<br>
                        <small class="text-muted">{{ gettext('Published %(fromnow)s at %(date)s', fromnow=moment(feed.timestamp).fromNow(), date=moment(feed.timestamp).format('D.M.YYYY')) }}</small>
                    </div>
                </div>
            </li>
            <li class="divider"></li>
        {% endfor %}
        <li>
            <div class="text-center link-block">
                <a href="{{ url_for('main.show_feeds') }}">
                    <i class="fa fa-envelope"></i>
                    <strong>{{ gettext('Read all feeds') }}</strong>
                </a>
            </div>
        </li>
    {% endif %}
{% endmacro %}


{% macro pagination_widget(pagination, endpoint, fragment='') %}
    <div class="btn-group pull-right">
        <a class="btn btn-white btn-sm {% if not pagination.has_prev %}disabled{% endif %}"
           href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            <i class="fa fa-arrow-left"></i>
        </a>
        {% for p in pagination.iter_pages() %}
            {% if p %}
                {% if p == pagination.page %}
                    <a class="btn btn-white btn-sm active" href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
                {% else %}
                    <a class="btn btn-white btn-sm" href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
                {% endif %}
            {% else %}
            {% endif %}
        {% endfor %}
        <a class="btn btn-white btn-sm {% if not pagination.has_next %}disabled{% endif %}"
           href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            <i class="fa fa-arrow-right"></i>
        </a>
    </div>
{% endmacro %}
