{% extends 'base.html' %}
{% set active_page='courses' %}

{% block styles %}

    <!-- Steps -->
    <link href="{{ url_for('static',filename='css/plugins/steps/jquery.steps.css') }}"
          rel="stylesheet">

    <!-- Bootstrap Select -->
    <link href="{{ url_for('static', filename='css/plugins/bootstrap-select/bootstrap-select.min.css') }}"
          rel="stylesheet">

    <!-- Bootstrap Table -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/plugins/bootstrap-table/bootstrap-table.min.css') }}">

    <!-- Toastr style -->
    <link href="{{ url_for('static', filename='css/plugins/toastr/toastr.min.css') }}"
          rel="stylesheet">

    {{ super() }}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">

                    <h5>{{ gettext('My courses') }}</h5>
                </div>
                <div class="ibox-content">

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form action="{{ url_for('main.unfollow') }}"
                          method="post">
                        <input type="hidden" name="csrf_token"
                               value="{{ csrf_token() }}"/>

                        <div id="toolbar">
                            <button id="remove" type="submit"
                                    class="btn btn-danger" disabled>
                                {{ gettext('Delete courses') }}
                            </button>
                        </div>
                        <div id="loader1" class="spinner-table">
                            <p class="lead text-center">{{ gettext("Loading table") }}</p>

                            <div class="sk-spinner sk-spinner-rotating-plane"></div>
                        </div>
                        <div id="followedCourses" class="table-container">
                            <table id="table1"
                                   data-click-to-select="true"
                                   data-toolbar="#toolbar"
                                   data-search="true"
                                   data-striped="true"
                                   data-mobile-responsive="true"
                                   data-select-item-name="course_id"
                                   data-id-field="id"
                                   data-minimum-count-columns="2"
                                   data-show-pagination-switch="true"
                                   data-pagination="true"
                                   data-page-list="[10, 25, 50, 100, ALL]">
                                <thead>
                                <tr>
                                    <th data-checkbox="true">{{ gettext('Follow') }}</th>
                                    <th data-field="id" data-visible="false">
                                        Id
                                    </th>
                                    <th data-field="code" data-align="left"
                                        data-sortable="true">{{ gettext('Code') }}</th>
                                    <th data-field="year" data-align="left"
                                        data-sortable="true"
                                        data-searchable="false">{{ gettext('Year') }}</th>
                                    <th data-field="name" data-align="left"
                                        data-sortable="true"
                                        data-formatter="urlFormatter">{{ gettext('Name') }}</th>
                                    <th data-field="url" data-visible="false">
                                        Url
                                    </th>
                                    <th data-field="partition"
                                        data-align="left"
                                        data-searchable="false">{{ gettext('Partition') }}</th>
                                    <th data-field="field" data-align="left"
                                        data-sortable="true">{{ gettext('Field') }}</th>
                                    <th data-field="period" data-align="left"
                                        data-sortable="true">{{ gettext('Period') }}</th>
                                    <th data-field="professor"
                                        data-align="left"
                                        data-sortable="true">{{ gettext('Professor') }}</th>
                                    <th data-field="credit" data-align="left"
                                        data-searchable="false">CFU
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ gettext('Add courses') }}</h5>
                </div>
                <div class="ibox-content">

                    <p>
                        {{ gettext('Follow the wizard to add new courses.') }}
                    </p>

                    <form id="form" action="{{ url_for('main.follow') }}"
                          method="post" class="wizard-big">
                        <input type="hidden" name="csrf_token"
                               value="{{ csrf_token() }}"/>

                        <h1>{{ gettext('Category') }}</h1>
                        <fieldset>
                            <h2>{{ gettext('Select a category') }}</h2>
                            <hr>
                            <div class="row">
                                <div class="col-lg-8">
                                    <select id="categories"
                                            class="selectpicker"
                                            data-dropup-auto="false">
                                        <option value="L">{{ gettext('Bachelor') }}</option>
                                        <option value="LM">{{ gettext('Master') }}</option>
                                        <option value="PAS">{{ gettext('PAS') }}</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text-center">
                                        <div style="margin-top: 20px">
                                            <i class="fa fa-arrow-circle-right "
                                               style="font-size: 180px;color: #e5e5e5 "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>

                        <h1>{{ gettext('Degree') }}</h1>

                        <fieldset>
                            <h2>{{ gettext('Find your degree course') }}</h2>
                            <hr>
                            <div class="row">
                                <div class="col-lg-8">
                                    <select class="selectpicker"
                                            data-none-results-text="Nessun risultato trovato!"
                                            data-live-search="true"
                                            data-width="auto"
                                            data-size="3"
                                            data-mobile="true"
                                            data-dropup-auto="false"
                                            id="degrees">
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text-center">
                                        <div style="margin-top: 20px">
                                            <i class="fa fa-arrow-circle-right "
                                               style="font-size: 180px;color: #e5e5e5 "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>


                        <h1>{{ gettext('Curriculum') }}</h1>

                        <fieldset>
                            <h2>{{ gettext('Choose your curriculum') }}</h2>
                            <hr>
                            <div class="row">
                                <div class="col-lg-8">
                                    <select class="selectpicker"
                                            data-none-results-text="Nessun risultato trovato!"
                                            data-live-search="true"
                                            data-width="auto"
                                            data-size="3"
                                            data-mobile="true"
                                            data-dropup-auto="false"
                                            id="curriculums">
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text-center">
                                        <div style="margin-top: 20px">
                                            <i class="fa fa-arrow-circle-right "
                                               style="font-size: 180px;color: #e5e5e5 "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <h1>{{ gettext('Courses') }}</h1>

                        <fieldset>
                            <h2>{{ gettext('Choose the courses you intend to follow.') }}</h2>
                            <hr>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="loader2" class="spinner-table">
                                        <p class="lead text-center">{{ gettext("Loading table") }}</p>

                                        <div class="sk-spinner sk-spinner-rotating-plane"></div>
                                    </div>
                                    <div id="courses" class="table-container">
                                        <table id="table2"
                                               data-click-to-select="true"
                                               data-search="true"
                                               data-striped="true"
                                               data-toggle="table"
                                               data-mobile-responsive="true"
                                               data-select-item-name="course_id"
                                               data-id-field="id"
                                               data-minimum-count-columns="2"
                                               data-show-pagination-switch="true"
                                               data-pagination="true"
                                               data-page-list="[10, 25, 50, 100, ALL]">
                                            <thead>
                                            <tr>
                                                <th data-checkbox="true">{{ gettext('Follow') }}</th>
                                                <th data-field="id"
                                                    data-visible="false">Id
                                                </th>
                                                <th data-field="code"
                                                    data-align="left"
                                                    data-sortable="true">{{ gettext('Code') }}</th>
                                                <th data-field="year"
                                                    data-align="left"
                                                    data-sortable="true"
                                                    data-searchable="false">{{ gettext('Year') }}</th>
                                                <th data-field="name"
                                                    data-align="left"
                                                    data-sortable="true"
                                                    data-formatter="urlFormatter">{{ gettext('Name') }}</th>
                                                <th data-field="url"
                                                    data-visible="false">Url
                                                </th>
                                                <th data-field="partition"
                                                    data-align="left"
                                                    data-searchable="false">{{ gettext('Partition') }}</th>
                                                <th data-field="field"
                                                    data-align="left"
                                                    data-sortable="true">{{ gettext('Field') }}</th>
                                                <th data-field="period"
                                                    data-align="left"
                                                    data-sortable="true">{{ gettext('Period') }}</th>
                                                <th data-field="professor"
                                                    data-align="left"
                                                    data-sortable="true">{{ gettext('Professor') }}</th>
                                                <th data-field="credit"
                                                    data-align="left"
                                                    data-searchable="false">CFU
                                                </th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    {{ super() }}

    <!-- Steps -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>

    <!-- Jquery Validate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>

    <!-- Bootstrap Select -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>

    <!-- Bootstrap Table -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/bootstrap-table/extensions/mobile/bootstrap-table-mobile.js') }}"></script>

    {% if g.locale == 'it' %}
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/plugins/bootstrap-table/bootstrap-table-it-IT.min.js') }}"></script>
    {% endif %}

    <!-- Tinycon -->
    <script src="{{ url_for('static', filename='js/plugins/tinycon/tinycon.min.js') }}"></script>

    <!-- iCheck -->
    <script src="{{ url_for('static', filename='js/plugins/iCheck/icheck.min.js') }}"></script>

    <script>

        /* Initialize tables
         -----------------------------------------------------------------*/
        var tableContainer1 = '#followedCourses',
                tableContainer2 = '#courses';

        var table1 = '#table1',
                table2 = '#table2';

        $(tableContainer1).hide();
        $(tableContainer2).hide();

        $.ajax({
            url: $SCRIPT_ROOT + '/api/users/{{ current_user.id }}/courses/',
            dataType: "json",
            success: function (data) {
                $(table1).bootstrapTable({
                    data: data.courses
                });

                // Highlight the delete button when something is selected.
                $(table1).on('check.bs.table uncheck.bs.table ' +
                        'check-all.bs.table uncheck-all.bs.table', function () {
                    $('#remove').prop('disabled', !$(table1).bootstrapTable('getSelections').length);
                });

                $('#loader1').hide();
                $(tableContainer1).show()
            }
        });

        /* Initialize wizard
         -----------------------------------------------------------------*/
        $("#form").steps({
            labels: {
                current: "{{ gettext('Current step') }}",
                pagination: "{{ gettext('Steps') }}",
                finish: "{{ gettext('Finish') }}",
                next: "{{ gettext('Next') }}",
                previous: "{{ gettext('Back') }}",
                loading: "{{ gettext('Loading...') }}"
            },
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {

                // Always allow going backward
                if (currentIndex > newIndex) {
                    return true;
                }

                // Populate degrees options
                if (newIndex === 1) {
                    var degreesCat = $("#categories").find("option:selected").val();
                    $.ajax({
                        url: $SCRIPT_ROOT + '/api/degrees/?cat=' + degreesCat,
                        type: "GET",
                        dataType: "html",
                        success: function (json) {
                            var degrees = JSON.parse(json).degrees;
                            var options = '';
                            for (var i = 0; i < degrees.length; i++) {
                                var d = degrees[i];
                                options += '<option value="' + d.id + '">' + toTitleCase(d.name) + ' [' + d.code.toUpperCase() + ']</option>'
                            }
                            $('#degrees').html(options).selectpicker('refresh');
                        }
                    })
                }

                // Populate curriculums options
                if (newIndex === 2) {
                    var degreeId = $("#degrees").find("option:selected").val();
                    $.ajax({
                        url: $SCRIPT_ROOT + '/api/degrees/' + degreeId + '/curriculums/',
                        type: "GET",
                        dataType: "html",
                        success: function (json) {
                            var curriculums = JSON.parse(json).curriculums;
                            var options = '';
                            for (var i = 0; i < curriculums.length; i++) {
                                var c = curriculums[i];
                                options += '<option value="' + c.id + '">' + toTitleCase(c.name) + ' [' + c.code.toUpperCase() + ']</option>'
                            }
                            $('#curriculums').html(options).selectpicker('refresh');
                        }
                    })
                }

                // Populate table of courses
                if (newIndex === 3) {
                    var curriculumId = $("#curriculums").find("option:selected").val();
                    $(tableContainer2).hide();
                    $('#loader2').show();
                    $.ajax({
                        url: $SCRIPT_ROOT + '/api/curriculums/' + curriculumId + '/courses/',
                        dataType: "json",
                        success: function (data) {
                            $(table2).bootstrapTable('load', data.courses);
                            $('#loader2').hide();
                            $(tableContainer2).show();
                        }
                    });
                }

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                return true;
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        });

        /* Initialize bootstrap-select
         -----------------------------------------------------------------*/
        $('.selectpicker').selectpicker();

        function urlFormatter(value, row) {
            return '<a href="' + row['url'] + '" target="_blank">' + value + '</a>';
        }

    </script>

{% endblock %}


