{% extends 'base.html' %}
{% set active_page='feeds' %}

{% block head %}
    {{ super() }}
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}


{% block styles %}

    {{ super() }}

    <!-- iCheck style -->
    <link href="{{ url_for('static', filename='css/plugins/iCheck/custom.css') }}" rel="stylesheet">

{% endblock %}


{% block content %}

    <div class="row">

        <div class="col-lg-12 animated fadeInRight">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5>{{ gettext('All feeds') }} </h5>
                </div>

                <div class="ibox-content">

                    <div class="mail-box-header">

                        <h2>
                            {{ gettext('Inbox') }} {% if g.unread > 0 %}({{ g.unread }}) {% else %} (0) {% endif %}
                        </h2>

                        <div class="mail-tools tooltip-demo m-t-md">

                            {% if feeds %}

                                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="{{ gettext('Select/deselect all') }}">
                                    <input type="checkbox" id="checkAll" onchange="selectAll()"/>
                                </button>

                                <a href="{{ url_for('main.feeds') }}" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="{{ gettext('Check feeds') }}">
                                    <i class="fa fa-refresh"></i> {{ gettext('Refresh') }}
                                </a>

                                <button class="btn btn-white btn-sm" onclick="markAsRead()" data-toggle="tooltip" data-placement="top" title="{{ gettext('Mark as read') }}">
                                    <i class="fa fa-eye"></i>
                                </button>

                                {{ macros.pagination_widget(pagination, 'main.feeds') }}

                            {% endif %}
                        </div>
                    </div>

                    <div class="mail-box">

                        <table class="table table-hover table-mail">
                            <tbody>

                            {% if not feeds %}
                                <p class="text-center">
                                    {{ gettext('No feed found') }}
                                </p>

                            {% else %}

                                {% for feed in feeds %}

                                    <tr class="{% if current_user.has_read(feed) %}read{% else %}unread{% endif %}">
                                        <td class="check-mail">
                                            <input type="checkbox" class="i-checks" value="{{ feed.id }}">
                                        </td>

                                        <td class="mail-contact">
                                            <a href="{{ url_for('main.feed', id=feed.id) }}">{{ feed.author }}</a>
                                        </td>

                                        <td class="mail-subject">
                                            <a href="{{ url_for('main.feed', id=feed.id) }}">{{ feed.title }}</a>
                                        </td>

                                        <td class="text-right mail-date">{{ moment(feed.timestamp).fromNow() }}</td>
                                    </tr>

                                {% endfor %}
                            {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- iCheck -->
    <script src="{{ url_for('static', filename='js/plugins/iCheck/icheck.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });
        });

        var csrftoken = $('meta[name=csrf-token]').attr('content');

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        function markAsRead() {
            var checkbox = $('input.i-checks');
            var checked = false;
            var feedIds = new FormData();
            for (var i = 0; i < checkbox.length; i++) {
                if (checkbox[i].checked) {
                    checked = true;
                    feedIds.append('feed_id', checkbox[i].value);
                }
            }

            if (checked) {
                $.ajax({
                    type: "POST",
                    url: $SCRIPT_ROOT + '/_mark_as_read',
                    processData: false,
                    contentType: false,
                    data: feedIds
                }).done(
                        window.location.reload(true)
                );
            }
        }

        function selectAll() {
            var checkAll = $('#checkAll')[0];
            var checkboxes = $('input.i-checks');

            for (var i = 0; i < checkboxes.length; i++) {
                var cb = checkboxes[i];
                if (checkAll.checked)
                    $(cb).iCheck('check');
                else
                    $(cb).iCheck('uncheck');
            }
        }
    </script>
{% endblock %}



