{% extends 'base.html' %}
{% set active_page='home' %}


{% block styles %}

    <!-- Full Calendar style -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.print.css" rel='stylesheet' media='print'>

    {{ super() }}

    <link href="{{ url_for('static', filename='css/plugins/qtip/jquery.qtip.css') }}" rel='stylesheet'>

    <!-- Google Map -->
    <style>
        #map {
            height: 500px;
        }
    </style>

{% endblock %}

{% block heading %}
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-lg-6">
            <h2>{{ gettext('Welcome %(username)s', username=current_user.username) }}</h2>
            {% if g.unread_feeds_count %}
                <small>{{ ngettext('You have %(num)s unread feed.', 'You have %(num)s unread feeds.', g.unread_feeds_count) }}</small>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <div class="row text-left">
                <div class="col-xs-4">
                    <div class=" m-l-md">
                        <span class="h4 font-bold m-t block">{{ current_user.courses.count() }}</span>
                        <small class="text-muted m-b block">{{ ngettext('%(num)s Followed Course', '%(num)s Followed Courses', current_user.courses.count()) }}</small>
                    </div>
                </div>
                <div class="col-xs-4">
                    <span class="h4 font-bold m-t block">{{ current_user.credits_count }}</span>
                    <small class="text-muted m-b block">{{ gettext('Total credits') }}</small>
                </div>
                <div class="col-xs-4">
                    <span class="h4 font-bold m-t block">{{ current_user.lessons_count }}</span>
                    <small class="text-muted m-b block">{{ gettext('Lessons to attend') }}</small>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="row">
                <div class="col-lg-12">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}

    <div class="row animated fadeInDown">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ gettext('Latest feeds') }}</h5>
                </div>
                <div class="ibox-content">
                    <div class="feed-activity-list">
                        {% if not feeds %}
                            <p class="text-center">{{ gettext('No feed found') }}</p>
                        {% else %}
                            {% for feed in feeds %}
                                <div class="feed-element">
                                    <a href="#" class="pull-left">
                                        <img alt="image" class="img-circle" src="{{ feed.gravatar }}">
                                    </a>

                                    <div class="media-body ">
                                        <small class="pull-right">{{ moment(feed.timestamp).fromNow() }}</small>
                                        <strong>{{ feed.author }}</strong><br> {{ feed.title }}<br>

                                        <div class="well">
                                            {{ feed.body }}
                                        </div>
                                        <small class="text-muted">{{ gettext('Published %(fromnow)s at %(date)s', fromnow=moment(feed.timestamp).fromNow(), date=moment(feed.timestamp).format('HH:MM - D.M.YYYY')) }}</small>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="text-center link-block m-t">
                                <a href="{{ url_for('main.show_feeds') }}">
                                    <i class="fa fa-envelope"></i> <strong>{{ gettext('Read all feeds') }}</strong>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ gettext('My calendar') }} </h5>
                </div>
                <div class="ibox-content">
                    {% if not current_user.courses.first() %}
                        <div class="alert alert-warning">
                            {{ gettext('You calendar is empty.') }} <a class="alert-link" href="{{ url_for('main.courses') }}">{{ gettext('Add courses') }}</a>.
                        </div>
                    {% endif %}
                    <div id="calendar"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="{{ url_for('main.download_calendar') }}" class="btn btn-success btn-block m-t"><i class="fa fa-download"></i> {{ gettext('Download Calendar') }}</a>
                            <small>{{ gettext('Get your personal calendar in ICS format, compatible with the most common Calendar apps') }}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Mappa</h5>
                        </div>
                        <div class="ibox-content">
                            <p>

                            </p>

                            <div class="google-map" id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    {{ super() }}

    <!-- Full Calendar -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
    {% if g.locale == 'it' %}
        <script src="{{ url_for('static', filename='js/plugins/fullcalendar/lang/it.js') }}"></script>
    {% endif %}

    <!-- Qtip2 -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/basic/jquery.qtip.min.js"></script>

    <!-- Google maps -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <script>
        /* initialize map
         -----------------------------------------------------------------*/
        function initialize() {
            var mapCanvas = document.getElementById('map');
            var mapOptions = {
                center: new google.maps.LatLng(45.435, 12.335),
                zoom: 12,
                styles: [{"elementType": "geometry", "stylers": [{"hue": "#ff4400"}, {"saturation": -68}, {"lightness": -4}, {"gamma": 0.72}]}, {"featureType": "road", "elementType": "labels.icon"}, {"featureType": "landscape.man_made", "elementType": "geometry", "stylers": [{"hue": "#0077ff"}, {"gamma": 3.1}]}, {"featureType": "water", "stylers": [{"hue": "#00ccff"}, {"gamma": 0.44}, {"saturation": -33}]}, {
                    "featureType": "poi.park",
                    "stylers": [{"hue": "#44ff00"}, {"saturation": -23}]
                }, {"featureType": "water", "elementType": "labels.text.fill", "stylers": [{"hue": "#007fff"}, {"gamma": 0.77}, {"saturation": 65}, {"lightness": 99}]}, {"featureType": "water", "elementType": "labels.text.stroke", "stylers": [{"gamma": 0.11}, {"weight": 5.6}, {"saturation": 99}, {"hue": "#0091ff"}, {"lightness": -86}]}, {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [{"lightness": -48}, {"hue": "#ff5e00"}, {"gamma": 1.2}, {"saturation": -23}]
                }, {"featureType": "transit", "elementType": "labels.text.stroke", "stylers": [{"saturation": -64}, {"hue": "#ff9100"}, {"lightness": 16}, {"gamma": 0.47}, {"weight": 2.7}]}],
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(mapCanvas, mapOptions);

            $.ajax({
                url: $SCRIPT_ROOT + '/api/users/{{ current_user.id }}/locations/',
                dataType: 'json',
                success: function (json) {
                    for (var i = 0; i < json.locations.length; i++) {
                        var loc = json.locations[i];
                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(loc.lat, loc.lng),
                            map: map,
                            animation: google.maps.Animation.DROP,
                            title: loc.name
                        });

                    }
                }
            });

        }

        google.maps.event.addDomListener(window, 'load', initialize);


        /* initialize the calendar
         -----------------------------------------------------------------*/
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: function (start, end, timezone, callback) {
                $.ajax({
                    url: $SCRIPT_ROOT + '/api/users/{{ current_user.id }}/lessons/',
                    dataType: 'json',
                    success: function (data) {
                        callback(data.lessons);
                    }
                })
            },
            eventRender: function (event, element, view) {
                element.qtip({
                    content: {
                        title: event.title,
                        text: '<p> Dalle ' + moment(event.start).format('hh:mm') + ' alle ' + moment(event.end).format('HH:mm') + '</p>' +
                        '<p> ' + event.description + '</p>'
                    },
                    position: {
                        my: 'top center',  // Position my top left...
                        at: 'bottom center' // at the bottom right of...

                    },
                    show: 'mouseover',
                    style: 'light qtip-bootstrap'
                });
            },
            editable: false,
            droppable: false
        });

    </script>
{% endblock %}