{% extends 'base.html' %}
{% set active_page='home' %}


{% block styles %}
    {{ super() }}

    <link href="{{ url_for('static',filename='css/plugins/fullcalendar/fullcalendar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/plugins/fullcalendar/fullcalendar.print.css') }}" rel='stylesheet' media='print'>

{% endblock %}


{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="row">
                <div class="col-lg-12">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5>{{ gettext('My calendar') }}</h5>
                </div>

                <div class="ibox-content">
                    {% if not current_user.courses.first() %}

                        <div class="alert alert-warning">
                            {{ gettext('You calendar is empty.') }} <a class="alert-link" href="{{ url_for('main.courses') }}">{{ gettext('Add courses') }}</a>.
                        </div>

                    {% endif %}

                    <div id="calendar"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <a href="{{ url_for('main.download_calendar') }}" class="btn btn-success btn-block m-t"><i class="fa fa-download"></i> {{ gettext('Download Calendar') }}</a>
                            <small>{{ gettext('Get your personal calendar in ICS format, compatible with the most common Calendar apps') }}</small>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" class="btn btn-primary btn-block m-t"><i class="fa fa-refresh"></i> {{ gettext('Sync with Google') }}</a>
                            <small>{{ gettext('Sync calendar with your Google account. ') }}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
        </div>


        <div class="col-lg-4">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ gettext('Latest feeds') }}</h5>
                </div>

                <div class="ibox-content" style="background-color: #f3f6fb">
                    <div class="feed-activity-list">
                        {{ macros.feeds_widget(feeds, moment) }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}

    {{ super() }}

    <!-- Full Calendar -->
    <script src="{{ url_for('static', filename='js/plugins/fullcalendar/fullcalendar.min.js') }}"></script>
    {% if g.locale == 'it' %}
        <script src="{{ url_for('static', filename='js/plugins/fullcalendar/lang/it.js') }}"></script>
    {% endif %}
    <script>
        $(document).ready(function () {

            /* initialize the calendar
             -----------------------------------------------------------------*/
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: $SCRIPT_ROOT + '/api/users/{{ current_user.id }}/lessons/',
                        dataType: 'json',
                        success: function (data) {
                            callback(data.lessons);
                        }
                    })
                },
                editable: false,
                droppable: false
            });

        });

    </script>

{% endblock %}